        h1 {
            color: blue;
            font-style: italic;
            padding: 10px;
        }
        #ps_table {
            text-align: left;
             border-spacing: 0;
            border-collapse: separate;
            border-radius: 10px;
             overflow: hidden;  
            background-color: rgb(141, 32, 141);
               
        }
        .skills {
            background-color: rgb(164, 34, 251);
            color:whitesmoke
        }
        .second{
            background-color: rgb(194, 192, 192);
        }
        .first{
            background-color: whitesmoke;
        }

        #ps_table tbody td {
            padding: 10px 14px;
        }


        #ps_table th {
        padding: 14px 18px;
        font-weight: 600;
        }